.total-pie-two{
    /* height: 450px;
    width: 500px; */
    display: flex;
    justify-content: center;
    position: relative;
}

.total-pie-two x-vue-echarts.echarts.piechart1{
    /* width: 400px;
    height: 400px; */
    width: 500px;
    height: 500px;
    /* display: flex; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: auto 60px; */
    margin-top: 50px;
}
.total-pie-two .total-pie-text{
    position: absolute;
    top: 10%;
}
